[keyboard]
name = "hourglass-twins"
product_name = "hourglass-twins"
vendor_id = 0x4c4b
product_id = 0xbeef
manufacturer = "j4ger"
chip = "rp2040"
serial_number = "vial:52803956:114514"

[layout]
rows = 9
cols = 6
layers = 5
matrix_map = """
(0, 0, L)  (0, 1, L)  (0, 2, L)  (0, 3, L)  (0, 4, L)  (0, 5, L)    (5, 0, R)  (5, 1, R)  (5, 2, R)  (5, 3, R)  (5, 4, R)  (5, 5, R)
(1, 0, L)  (1, 1, L)  (1, 2, L)  (1, 3, L)  (1, 4, L)  (1, 5, L)    (6, 0, R)  (6, 1, R)  (6, 2, R)  (6, 3, R)  (6, 4, R)  (6, 5, R)
(2, 0, L)  (2, 1, L)  (2, 2, L)  (2, 3, L)  (2, 4, L)  (2, 5, L)    (7, 0, R)  (7, 1, R)  (7, 2, R)  (7, 3, R)  (7, 4, R)  (7, 5, R)
                      (3, 2, L)  (3, 3, L)                                                (8, 2, R)  (8, 3, R)
                                        (4, 3, L)  (4, 4, L)  (4, 5, L)
                                        (4, 0, L)  (4, 1, L)  (4, 2, L)
"""

[aliases]

[[layer]]
name = "base"
keys = """
grv  Q     W     F     P     G        J     L     U     Y     scln  bsls
caps TD(0) TD(1) TD(2) TD(3) TD(4)    TD(5) TD(6) TD(7) TD(8) TD(9) quot
Left Z     X     C     V     B        K     M     comm  dot   slsh  rght
          lbrc rbrc                         mins eql
                esc    bspc   MO(1)
                TD(10) TD(11) TD(12)
"""

[[layer]]
name = "func"
keys = """
pgup Left Down Up   rght pgdn     pgup Left Down Up   rght pgdn
mins 5    4    3    2    1        6    7    8    9    0    eql
F6   F5   F4   F3   F2   F1       F7   F8   F9   F10  F11  F12
          Home End                         Home End
                No Bootloader No
                No Bootloader TG(2)
"""

[[layer]]
name = "game"
keys = """
M     Tab    Q    W    E    R        T    Y    I    O    P    bspc
caps  LShift A    S    D    F        3    4    5    6    7    ent
LCtrl Z      X    C    V    B        N    M    comm dot  slsh F12
             1    2                            mins eql
                esc  E    TG(0)
                Tab  spc  LShift
"""

[behavior.morse]
enable_flow_tap = true
prior_idle_time = "120ms"
unilateral_tap = true
permissive_hold = true
hold_timeout = "120ms"
gap_timeout = "200ms"
morses = [
    { tap = "A", hold = "LGui", hold_after_tap = "1" },
    { tap = "R", hold = "LAlt", hold_after_tap = "2" },
    { tap = "S", hold = "LCtrl", hold_after_tap = "3" },
    { tap = "T", hold = "LShift", hold_after_tap = "4" },
    { tap = "D", hold_after_tap = "5" },
    { tap = "H", hold_after_tap = "6" },
    { tap = "N", hold = "RShift", hold_after_tap = "7" },
    { tap = "E", hold = "RCtrl", hold_after_tap = "8" },
    { tap = "I", hold = "RAlt", hold_after_tap = "9" },
    { tap = "O", hold = "RGui", hold_after_tap = "0" },
    { tap = "Tab", hold = "LShift" },
    { tap = "spc", hold = "LCtrl" },
    { tap = "ent", hold = "LGui" },
]

[split]
connection = "serial"

# Assign right half as central
[split.central]
rows = 4
cols = 6
row_offset = 5
col_offset = 0
serial = [
    { instance = "PIO0", tx_pin = "PIN_6", rx_pin = "PIN_6" },
]

[split.central.matrix]
row_pins = ["PIN_13", "PIN_14", "PIN_15", "PIN_16"]
col_pins = ["PIN_17", "PIN_18", "PIN_19", "PIN_20", "PIN_21", "PIN_22"]

[[split.peripheral]]
rows = 5
cols = 6
row_offset = 0
col_offset = 0
serial = [
    { instance = "PIO0", tx_pin = "PIN_6", rx_pin = "PIN_6" },
]

[split.peripheral.matrix]
row_pins = ["PIN_9", "PIN_10", "PIN_11", "PIN_12", "PIN_22"]
col_pins = ["PIN_15", "PIN_16", "PIN_17", "PIN_18", "PIN_19", "PIN_20"]

[host]
vial_enabled = true
# The unlock keys are the combo of the row 0, col 0 key and
# the row 0, col 1 key
unlock_keys = [[0, 0], [0, 1]]
