[keyboard]
name = "hourglass-twins"
product_name = "hourglass-twins"
vendor_id = 0x4c4b
product_id = 0xbeef
manufacturer = "j4ger"
chip = "rp2040"
serial_number = "vial:52803956:114514"

[layout]
rows = 9
cols = 6
layers = 5
matrix_map = """
(0, 0)  (0, 1)  (0, 2)  (0, 3)  (0, 4)  (0, 5)    (5, 0)  (5, 1)  (5, 2)  (5, 3)  (5, 4)  (5, 5)
(1, 0)  (1, 1)  (1, 2)  (1, 3)  (1, 4)  (1, 5)    (6, 0)  (6, 1)  (6, 2)  (6, 3)  (6, 4)  (6, 5)
(2, 0)  (2, 1)  (2, 2)  (2, 3)  (2, 4)  (2, 5)    (7, 0)  (7, 1)  (7, 2)  (7, 3)  (7, 4)  (7, 5)
                (3, 2)  (3, 3)                                    (8, 2)  (8, 3)
                          (4, 3)  (4, 4)  (4, 5)
                          (4, 0)  (4, 1)  (4, 2)
"""

[aliases]

[[layer]]
name = "base"
keys = """
grv  Q    W    F    P    G        J    L    U    Y    scln bsls
caps A    R    S    T    D        H    N    E    I    O    quot
Left Z    X    C    V    B        K    M    comm dot  slsh rght
          lbrc rbrc                         mins eql
                esc  bspc del
                Tab  spc  ent
"""

[[layer]]
name = "symb"
keys = """
grv  Q    W    F    P    G        J    L    U    Y    scln bsls
caps A    R    S    T    D        H    N    E    I    O    quot
Left Z    X    C    V    B        K    M    comm dot  slsh rght
          lbrc rbrc                         mins eql
                esc  bspc del
                Tab  spc  ent
"""

[[layer]]
name = "func"
keys = """
grv  Q    W    F    P    G        J    L    U    Y    scln bsls
caps A    R    S    T    D        H    N    E    I    O    quot
Left Z    X    C    V    B        K    M    comm dot  slsh rght
          lbrc rbrc                         mins eql
                esc  bspc del
                Tab  spc  ent
"""

[[layer]]
name = "game"
keys = """
grv  Q    W    F    P    G        J    L    U    Y    scln bsls
caps A    R    S    T    D        H    N    E    I    O    quot
Left Z    X    C    V    B        K    M    comm dot  slsh rght
          lbrc rbrc                         mins eql
                esc  bspc del
                Tab  spc  ent
"""

[split]
connection = "serial"

# Assign right half as central
[split.central]
rows = 4
cols = 6
row_offset = 5
col_offset = 0
serial = [
    { instance = "PIO0", tx_pin = "PIN_6", rx_pin = "PIN_6" },
]

[split.central.matrix]
row_pins = ["PIN_13", "PIN_14", "PIN_15", "PIN_16"]
col_pins = ["PIN_17", "PIN_18", "PIN_19", "PIN_20", "PIN_21", "PIN_22"]

[[split.peripheral]]
rows = 5
cols = 6
row_offset = 0
col_offset = 0
serial = [
    { instance = "PIO0", tx_pin = "PIN_6", rx_pin = "PIN_6" },
]

[split.peripheral.matrix]
row_pins = ["PIN_9", "PIN_10", "PIN_11", "PIN_12", "PIN_22"]
col_pins = ["PIN_15", "PIN_16", "PIN_17", "PIN_18", "PIN_19", "PIN_20"]

[host]
vial_enabled = true
# The unlock keys are the combo of the row 0, col 0 key and
# the row 0, col 1 key
unlock_keys = [[0, 0], [0, 1]]
